.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  margin-top: 3rem;
  width: 500px;
}

.form input {
  padding: 0.5rem;
}

.validBtn {
  background-color: green;
  color: white;
}

.invalidBtn {
  background-color: brown;
  color: white;
  cursor: not-allowed;
}
